<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Tumblr followers <%= followers %></p>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/Chart.js"></script>

    <script>
      $(document).ready(function(){

        var total_followers = parseInt(<%= followers %>);
        var goal = 1000 - total_followers;

        var data = [
            {
                value: total_followers,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Followers"
            },
            {
                value: goal,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Goal"
            }
        ];

        var options = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke : true,

          //String - The colour of each segment stroke
          segmentStrokeColor : "#fff",

          //Number - The width of each segment stroke
          segmentStrokeWidth : 2,

          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout : 50, // This is 0 for Pie charts

          //Number - Amount of animation steps
          animationSteps : 100,

          //String - Animation easing effect
          animationEasing : "easeOutBounce",

          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate : true,

          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale : false,

          
        };

        var ctx = document.getElementById("myChart").getContext("2d");
        var myNewChart = new Chart(ctx).Pie(data, options);

      });
    </script>
  </body>
</html>
